<html>
<head>
	<title>The Inventors Opus</title>
</head>
<body>
	<h3>The Inventors Opus</h3>
	<ul>
		<li><a href='/jon_adams'>Jon Adams</a></li>
		<li><a href='/cartography'>Cartography</a></li>
	</ul>
	{{{body}}}
</body>
</html>