<p>
	<h4>Cartography®</h4>
	
	<strong>Make Your Mark on the Map™</strong>
</p>

<p>Cartography® is a territory claiming game with a twist.</p>
<p><em>You design the map!</em></p>

<p>In Cartography® players become mapmakers in a game that takes creativity and foresight to claim territory on a map that changes with each turn.</p>

<p>Cartography® builds on the ancient territory claiming game "Go" by adding a map-making mechanic. The map is made up of triangular tiles, with walls that divide the map, allowing territory to be defended or captured. Players create and claim territory, and capture opponents, in an effort to control the map. The map changes as you play so you must keep your wits about you. Strategy is key and chance doesn't determine the winner. Cartography® is easy to learn and challenging to master!</p>
<ul>
	<li><a href="https://boardgamegeek.com/boardgame/163031/cartography">Cartography on BoardGameGeek</a></li>
	<li><a href="https://www.facebook.com/cartographygame">Cartography on Facebook</a></li>
	<li><a href="https://twitter.com/CartographyGame">Cartography on Twitter</a></li>
	<li><a href="http://cartographygame.com">Cartography Homepage</a></li>
</ul>
