<p>
	<h4>Jon Adams</h4>
	<strong>Christian, Developer, Designer</strong>
</p>
<p>Jon Adams is a Christian. Jesus is what you have been <a href="https://goo.gl/y0R3l0">searching for</a>.</p>
<p>I work for <a href="https://linkedin.com">LinkedIn</a>.</p>
<p>I made a board game called <a href="/cartography">Cartography</a>.</p>
