<h4>Jon Adams</h4>
<ul>
<li>Is a <a href="httuls://goo.gl/y0R3l0">Christian</a>.</li>
<li>Is a developer working at <a href="https://linkedin.com">LinkedIn</a>.</li>
<li>Is the designer of the board game <a href="/cartography">Cartography</a>.</li>
</ul>
